:root {
    /* couleurs */
    --main-green: #029E3A;
    --main-yellow: #ECCA41;
    --medium-green: #67C589;
    --medium-yellow: #F8DC6D;
    --light-green: #D7EFDF;
    --light-yellow: #E5EBC3;
    --dark-green: #00742b;
    --transparent-white: rgba(255, 255, 255, 0.7);

    /* typos */
    --main-font: 'Onest', 'Montserrat', 'Helvetica', 'Arial', 'Tahoma';
}

/* navbar */
.solar-navbar {
    background-color: var(--main-green);
    padding: 0;
    height: 3.5rem;
    overflow: hidden;
}

.solar-nav-link {
    font-weight: 300;
    font-family: var(--main-font);
    color: var(--light-green);
}

.solar-nav-link:hover {
    color: var(--medium-green);
}

.navbar-brand {
    width: fit-content;
}

.solar-svg-logo path {
    transition: all 0.2s ease-in-out;
}

/* footer */
.solar-footer {
    margin: 0;
    background: var(--main-green);
}

.solar-nav-item a, .solar-p-footer {
    font-weight: 300;
    font-family: var(--main-font);
    color: var(--light-green);
}

.solar-nav-item a:hover {
    color: var(--medium-green);
}

/* headings */
.solar-h1 {
    font-family: var(--main-font);
    color: var(--main-yellow);
    font-size: rem;
}

.solar-h3 {
    font-family: var(--main-font);
    font-weight: 500;
    color: var(--main-green);
    font-size: 2rem;
}

/* buttons */
button {
    background-color: var(--main-green);
    font-size: 1.5rem;
    font-family: var(--main-font);
    font-weight: 300;
    color: var(--light-yellow);
    border-radius: 2rem;
    padding: 0.3rem 1.2rem;
    border: none;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: var(--dark-green);
}

/* formulaires */
form {
    width: fit-content;
}

.solar-form-row {
    font-family: var(--main-font);
    color: var(--main-green);
    margin: 1rem 0;
}

.solar-form-row div {
    display: flex;
    flex-direction: column;
    margin-right: 0.5rem;
}

.solar-form-row div input {
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    border: 2px solid var(--medium-green);
    font-family: var(--main-font);
    border-radius: 1.2rem;
    color: var(--main-green);
    padding: 0.5rem 1rem;
    width: auto;
}

.solar-form-row div input:focus-visible {
    border-color: var(--medium-green) !important;
}

.solar-form-row div input::placeholder {
    color: var(--medium-green);
    text-align: right;
}