<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Estimation en ligne{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Diane Robert">

        {# favicon #}
        <link rel="icon" href="{{ asset("images/favicon.svg") }}" sizes="any" type="image/svg+xml">

        {# typo Google #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Onest:wght@300;500&display=swap" rel="stylesheet">
        
        {# Bootstrap 5 #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        {# CSS #}
        <link href="{{ asset('assets/css/root.css') }}" rel="stylesheet">
        
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    <body>
        <header>
            {# navbar #}
            <nav class="navbar navbar-expand-lg solar-navbar">
                <div class="container-fluid col-11">
                    <a class="navbar-brand" href="#">
                        <svg class="solar-svg-logo" width="40" height="40" xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960">
                            <path fill="var(--light-green)" d="M440-760v-160h80v160h-80Zm266 110-55-55 112-115 56 57-113 113Zm54 210v-80h160v80H760ZM440-40v-160h80v160h-80ZM254-652 140-763l57-56 113 113-56 54Zm508 512L651-255l54-54 114 110-57 59ZM40-440v-80h160v80H40Zm157 300-56-57 112-112 29 27 29 28-114 114Zm283-100q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-80q66 0 113-47t47-113q0-66-47-113t-113-47q-66 0-113 47t-47 113q0 66 47 113t113 47Zm0-160Z"/>
                        </svg>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link solar-nav-link" href="#">Devis</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link solar-nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>

        {# footer #}
        <div class="container-fluid solar-footer">
            <footer class="d-flex flex-wrap justify-content-between align-items-center px-5 py-4 border-top">
                <p class="col-md-4 mb-0 solar-p-footer">&copy; 2023 Diane Robert</p>

                <ul class="nav col-md-4 justify-content-end">
                    <li class="nav-item solar-nav-item"><a href="#" class="nav-link px-2">Accueil</a></li>
                    <li class="nav-item solar-nav-item"><a href="#" class="nav-link px-2">Estimation</a></li>
                    <li class="nav-item solar-nav-item"><a href="#" class="nav-link px-2">Devis</a></li>
                    <li class="nav-item solar-nav-item"><a href="#" class="nav-link px-2">Contact</a></li>
                </ul>
            </footer>
        </div>

        <script>
            let svgLogo = document.getElementsByClassName('solar-svg-logo')[0];

            svgLogo.addEventListener('mouseover', () => {
                svgLogo.children[0].style.fill = "var(--medium-green)";
            });

            svgLogo.addEventListener('mouseleave', () => {
                svgLogo.children[0].style.fill = "var(--light-green)";
            });
        </script>
        {# script Bootstrap #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
